{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
<html lang="en">
  <body>

    <main role="main" class="container">
        <div>
            <h1>Our Mission</h1>
        </div>

      <div class="starter-template">
        <h1>Our Mission</h1>
        <p class="lead">Our mission is to bring awareness to the alarming amount of pollution in the ocean and how it affects the environment.<br> With only 30 hours, time was short, but coffee was plentiful.</p>
      </div>

        <div>
        <img src="{{url_for('static',filename='coffee.png')}}"></img>
    </div>
        <div>
            <p class = "lead"><br>We wanted to make an interactive webpage that users could go to and get a feeling for how pollution might affect life in the ocean now, and in the future.<br>Data simulations and graphs do a great job of showing data, but by making a game, we can show the data in an interactive, and potentially fun manner.</p>
        </div>

    </main><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
  </body>
</html>
{% endblock %}