{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}

<div style="background: url({{url_for('static',filename='assets/img/header_img.png')}});height:100%" class="page-holder bg-cover">

  <div class="container py-3">
    <header class="text-center text-white py-5">
      <h1 class="display-4 font-weight-bold mb-4">Home</h1>
        <br>
        <p class="lead mb-0">Our Beautiful Ocean</p>
      <p class="lead mb-0">Soiled by plastic waste</p>
      <p class="lead mb-0">Experience how macroplastics affect the fish in the sea<br><br><br><br></br></p>
        <br>
        <a href = "/play/"><button type="button"  class="center btn btn-primary btn-lg">Play</button> </a>



      <p></p>
      <p> </p>

    <!--<div class="text-white">
      <p class="lead">It's not a good approch to deal directly with <code class="bg-white px-2 py-1 rounded">body</code> So, create a wrapper container and make it a full-window height.</p>
      <p class="lead">Set the wrapper initial height to full window height using <code class="bg-white px-2 py-1 rounded">min-height: 100vh</code></p>
      <p class="lead">Use <code class="bg-white px-2 py-1 rounded">.bg-cover</code> to make the background fit all viewports.</p>
    </div>-->

<!-- Page Content -->


  </div>

</div>
<div class="text-lg-center lead">30 hours.<br>4 devs<br>1 mission<br>Lots of caffeine</div>
<!--    <h1>Coffee Update</h1>-->





<script src="{{url_for('static',filename='bootstrap/js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{url_for('static',filename='assets/js/jquery.slim.min.js')}}"></script>
{% endblock %}
