<!-- tutorial link:https://phaser.io/tutorials/making-your-first-phaser-3-game/part2  -->
<!-- credit to Recycle items art by Clint Bellanger -->
<!-- credit to animales art by asalinasci www.vedoque.com -->
<!-- credit to fish-forage art by RAPIDPUNCHES -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game</title>
    <script src="https://cdn.jsdelivr.net/npm/phaser@3.54.0/dist/phaser-arcade-physics.min.js"></script>
<!--    <script src="https://raw.githubusercontent.com/rexrainbow/phaser3-rex-notes/master/dist/rexvirtualjoystickplugin.min.js"></script>-->
<!--    <link rel="stylesheet" href="index.css">-->
</head>
<body>
    <!-- <canvas id='container'></canvas> -->
    <div id="info">
        <span id="info1" style="float:left; width:50%;"><p id="score">Score: 0</p>
            <p id="garbo">Garbage: 0</p><p id="hungy">Hunger: 100</p></span>
        <span id="info2" style="float:left; width:50%;">
            <p id="year">1950</p><div id="diff">Pollution</div> <p  style="height:100px; width:100%;">Press R to restart</p></span>
    </div>
    <script>
        //import VirtualJoystick from 'phaser3-rex-plugins/plugins/virtualjoystick.js';
        var dynamicData;
        var obstacles;
        var dynamicSprites = [];
        var load = false;
        var difficulty = 0;
        var difficultyYear = 1950;
        var ws = new WebSocket("ws://127.0.0.1:5678/");
            ws.onopen = function(e){
                ws.send("data:" + '[100,450,1,0,0,0,0]');
                ws.send("update");
                ws.send("obstacles");
                //ws.send("user");
            };
            ws.onmessage = function (event) {
                if(event.data.substring(0,1) == "o"){
                    obstacles = JSON.parse(event.data.substring(1,event.data.length));
                    //console.log(obstacles[0]);
                }
                else if(event.data.substring(0,1) == "d"){
                    dynamicData = JSON.parse(event.data.substring(1,event.data.length));
                }
                //console.log(event.data);
            };
        var config = {
            type: Phaser.CANVAS,
            width: 700,
            height: 700,
            //canvas: document.getElementById('container'),
            // scale: {
            //     mode: Phaser.Scale.FIT,
            //     parent: 'phaser-example',
            //     autoCenter: Phaser.Scale.CENTER_BOTH,
            //     width: 800,
            //     height: 800
             //},
            physics: {
                default: 'arcade',
                arcade: {
                    gravity: { y: 0 }
                }
            },
            // plugins:{
            //     global: [{
            //         key: 'rexVirtualJoystick',
            //         plugin: VirtualJoystickPlugin,
            //         start: true
            //     }]
            // },
            scene: {
                preload: preload,
                create: create,
                update: update,
                render: render
            }
        };
        var game = new Phaser.Game(config);
        var score = 0;
        var garbage = 0;
        var garbageCounter = 0;
        var hunger = 10000;
        var size = 3;
        var goText;
        var keyObj;
        var resetBool = false;
        //var speed = 1;
        var scoreE = document.getElementById("score");
        var garboE = document.getElementById("garbo");
        var hungE = document.getElementById("hungy");
        var yearE = document.getElementById("year");
        var diffE = document.getElementById("diff");
        //var statusE = document.getElementById("status");
        function preload ()
        {
            //loading assets
            //Photo by Berend de Kort from Pexels
            //Photo by Berend de Kort from Pexels
            this.load.image('ocean', '/static/assets/img/ocean.jpg');
            this.load.image('ground', '/static/assets/img/ground.png');
            //Photo by mali maeder from Pexels
            this.load.image('apple', '/static/assets/img/apple.jpg');
            //Photo by Gezer Amorim from Pexels
            this.load.image('droplet', '/static/assets/img/droplet.jpeg');

            //load player (red) fish
            this.load.image('fish1', '/static/assets/img/fish/redFish.png');
            this.load.image('fish2', '/static/assets/img/fish/redFish2.png');
            this.load.image('fish3', '/static/assets/img/fish/redFish3.png');
            this.load.image('fish4', '/static/assets/img/fish/redFish4.png');
            this.load.image('fish5', '/static/assets/img/fish/redFish5.png');

            //load other (green) fish
            this.load.image('gFish1', '/static/assets/img/fish/greenFish.png');
            this.load.image('gFish2', '/static/assets/img/fish/greenFish2.png');
            this.load.image('gFish3', '/static/assets/img/fish/greenFish3.png');
            this.load.image('gFish4', '/static/assets/img/fish/greenFish4.png');
            this.load.image('gFish5', '/static/assets/img/fish/greenFish5.png');

            //load frog
            this.load.image('frog1', '/static/assets/img/frog/frog1.png');
            this.load.image('frog2', '/static/assets/img/frog/frog2.png');
            this.load.image('frog3', '/static/assets/img/frog/frog3.png');

            //load snake
            this.load.image('snake1', '/static/assets/img/snake/snake1.png')
            this.load.image('snake2', '/static/assets/img/snake/snake2.png')
            this.load.image('snake3', '/static/assets/img/snake/snake3.png')

            //load yellow fish
            this.load.image('yFish1', '/static/assets/img/yellowFish/yellowFish1.png');
            this.load.image('yFish2', '/static/assets/img/yellowFish/yellowFish2.png');
            this.load.image('yFish3', '/static/assets/img/yellowFish/yellowFish3.png');
            this.load.image('yFish4', '/static/assets/img/yellowFish/yellowFish4.png');
            this.load.image('yFish5', '/static/assets/img/yellowFish/yellowFish5.png');

            //load garbage
            this.load.image('cup', '/static/assets/img/cup.png');
            this.load.image('detergent', '/static/assets/img/detergent.png');
            this.load.image('milkJug', '/static/assets/img/milk_jug.png');
            this.load.image('bottle', '/static/assets/img/plastic_bottle.png');
            this.load.image('largeGarbage', '/static/assets/img/large_garbage.png');

            this.load.image('prawn', '/static/assets/img/prawn.png');
            this.load.image('island', '/static/assets/img/island.png');
            this.load.image('predator1', '/static/assets/img/predator1.png');
            this.load.image('predator2', '/static/assets/img/predator2.png');

            // this.load.image('ocean', './img/ocean.jpg');
            // this.load.image('ground', './img/ground.png');
            // //Photo by mali maeder from Pexels
            // this.load.image('apple', './img/apple.jpg');
            // //Photo by Gezer Amorim from Pexels
            // this.load.image('droplet', './droplet.jpeg');
            //
            // //load player (red) fish
            // this.load.image('fish1', './img/fish/redFish.png');
            // this.load.image('fish2', './img/fish/redFish2.png');
            // this.load.image('fish3', './img/fish/redFish3.png');
            // this.load.image('fish4', './img/fish/redFish4.png');
            // this.load.image('fish5', './img/fish/redFish5.png');
            //
            // //load other (green) fish
            // this.load.image('gFish1', './img/fish/greenFish.png');
            // this.load.image('gFish2', './img/fish/greenFish2.png');
            // this.load.image('gFish3', './img/fish/greenFish3.png');
            // this.load.image('gFish4', './img/fish/greenFish4.png');
            // this.load.image('gFish5', './img/fish/greenFish5.png');
            //
            // //load frog
            // this.load.image('frog1', './img/frog/frog1.png');
            // this.load.image('frog2', './img/frog/frog2.png');
            // this.load.image('frog3', './img/frog/frog3.png');
            //
            // //load snake
            // this.load.image('snake1', './img/snake/snake1.png')
            // this.load.image('snake2', './img/snake/snake2.png')
            // this.load.image('snake3', './img/snake/snake3.png')
            //
            // //load garbage
            // this.load.image('cup', './img/cup.png');
            // this.load.image('detergent', './img/detergent.png');
            // this.load.image('milkJug', './img/milk_jug.png');
            // this.load.image('bottle', './img/plastic_bottle.png');
            // this.load.image('largeGarbage', './img/large_garbage.png');
        }
    
        function create ()
        {
            //adding an image to the scene
            this.add.image(0, 0, 'ocean').setOrigin(0, 0).setScale(2);
            this.physics.world.setBounds(0, 0, 3000, 3000);
            //this.add.tileSprite(0,0,1000,1000, 'ocean');
            //adding platforms
            platforms = this.physics.add.staticGroup();
            for(var i = 0; i < obstacles[0].length; i++){
                platforms.create(obstacles[0][i][0],obstacles[0][i][1],'island');
            }
            

            //main player
            //var player;
            if(size==1){
                player = this.physics.add.sprite(Math.floor(Math.random() * 3000), Math.floor(Math.random() * 3000), 'fish1').play('fish', true);
            }
            else if(size==2){
                player = this.physics.add.sprite(Math.floor(Math.random() * 3000), Math.floor(Math.random() * 3000), 'frog1').play('frog', true);
            }
            else if(size==3){
                player = this.physics.add.sprite(Math.floor(Math.random() * 3000), Math.floor(Math.random() * 3000), 'snake1').play('snake', true);
            }
            else if(size==4){
                player = this.physics.add.sprite(Math.floor(Math.random() * 3000), Math.floor(Math.random() * 3000), 'yellowFish1').play('yellowFish', true);
            }
            else{
                player = this.physics.add.sprite(Math.floor(Math.random() * 3000), Math.floor(Math.random() * 3000), 'predator1').play('predator', true);
            }
            player.setBounce(0.2);
            player.setCollideWorldBounds(true);

            trashpiles = this.physics.add.staticGroup();
            
            for(var i = 0; i < obstacles[1].length; i++){
                dynamicSprites.push(trashpiles.create(obstacles[1][i][0],obstacles[1][i][1],'largeGarbage'));
                zone = this.add.zone(obstacles[1][i][0],obstacles[1][i][1]).setSize(250,250);
                this.physics.world.enable(zone);
                this.physics.add.overlap(player, zone, trashSucc, null, this);
                function trashSucc(player, zone){
                    //kinda works lol, your fish gets dioriented.
                    angle = Phaser.Math.Angle.BetweenPoints(zone, player);
                    player.rotation = angle + 270;
                    player.setVelocityX(160*Math.sin(player.rotation));
                    player.setVelocityY(-160*Math.cos(player.rotation));
                    //console.log('Succing');
                }
                dynamicSprites.push(zone);
            }

            this.anims.create({
                key: 'fish',
                frames: [
                    {key: 'fish1'},
                    {key: 'fish2'},
                    {key: 'fish3'},
                    {key: 'fish2'},
                    {key: 'fish1'},
                    {key: 'fish4'},
                    {key: 'fish5'},
                    {key: 'fish4'}
            ],
            frameRate: 16,
            repeat: -1
            });

            this.anims.create({
                key: 'gFish',
                frames: [
                    {key: 'gFish1'},
                    {key: 'gFish2'},
                    {key: 'gFish3'},
                    {key: 'gFish2'},
                    {key: 'gFish1'},
                    {key: 'gFish4'},
                    {key: 'gFish5'},
                    {key: 'gFish4'}
            ],
            frameRate: 16,
            repeat: -1
            });

            this.anims.create({
                key: 'frog',
                frames: [
                    {key: 'frog1'},
                    {key: 'frog2'},
                    {key: 'frog3'},
                    {key: 'frog1'}
            ],
            frameRate: 8,
            repeat: -1
            });

            this.anims.create({
                key: 'snake',
                frames: [
                    {key: 'snake1'},
                    {key: 'snake2'},
                    {key: 'snake3'},
                    {key: 'snake1'}
            ],
            frameRate: 8,
            repeat: -1
            });

            this.anims.create({
                key: 'yellowFish',
                frames: [
                    {key: 'yFish1'},
                    {key: 'yFish2'},
                    {key: 'yFish3'},
                    {key: 'yFish2'},
                    {key: 'yFish1'},
                    {key: 'yFish4'},
                    {key: 'yFish5'},
                    {key: 'yFish4'},
            ],
            frameRate: 16,
            repeat: -1
            });

            this.anims.create({
                key: 'predator',
                frames: [
                    {key: 'predator1'},
                    {key: 'predator2'}
            ],
            frameRate: 4,
            repeat: -1
            });
            
            //adding collison to the player
            this.physics.add.collider(player, platforms);

            this.physics.add.overlap(player, trashpiles, hitTrashpile, null, this);
            function hitTrashpile(player, trashpile){
                this.physics.pause();
                player.setTint(0xff0000);
                gameOver = true;
                //console.log('you died');
                //statusE.innerText = "Status: DEAD";
                goText = this.add.text(player.x-90, player.y, 'GAME OVER', { fontSize: '32px', fill: '#160303' });
            }
            //adding cursor keys input
            cursors = this.input.keyboard.createCursorKeys();
            //reset key.
            //var cursorKeys = this.input.keyboard.addKeys('R');
            var keyObj = this.input.keyboard.addKey('R');
            keyObj.on('down', function(event) {resetBool = true;});
            //reset = this.input.keyboard.on('keydown -' + 'R', function (event) { console.log('reset'); size = 1;
            //score = 1; garbageCounter = 0; garbage = 0; hunger=10000; gameOver = false; this.physics.reload(); player.setTint(00000000);
            //player = this.physics.add.sprite(Math.floor(Math.random() * 3000), Math.floor(Math.random() * 3000), 'fish1').play('fish', true);});
            droplets = this.physics.add.staticGroup();
            for(var i = 0; i < dynamicData[1].length; i++){
                    if(dynamicData[1][i][2]){
                        dynamicSprites.push(droplets.create(dynamicData[1][i][0],dynamicData[1][i][1],'prawn'));
                    }
                    else{
                        dynamicSprites.push(droplets.create(dynamicData[1][i][0],dynamicData[1][i][1],'detergent'));
                    }
                }
            for(var i = 0; i < dynamicData[0].length; i++){
                dynamicSprites.push(this.physics.add.sprite(dynamicData[0][i][0],dynamicData[0][i][1],'gFish1').setScale(.02));//.setVelocity(dynamicData[0][i][3],dynamicData[0][i][4]));
            }
            droplets.children.iterate(function (child) {

                child.setBounceY(Phaser.Math.FloatBetween(0.4, 0.8));

            });

            //making stars collide
            this.physics.add.collider(droplets, platforms);

            // checking player collision
            this.physics.add.overlap(player, droplets, collectDroplet, null, this);
            function collectDroplet (player, droplet)
            {
                //console.log(droplet.texture.key);
                droplet.disableBody(true, true);
                if(droplet.texture.key=='prawn'){
                    score += 1;
                    if(hunger <= 7000){
                        hunger+=3000;
                    }
                    else{
                        hunger=10000;
                    }
                }
                else{
                    garbage += 1;
                    //speed = size - garbage/20;
                }
                scoreE.innerText = 'Score: ' + score;
                garboE.innerText = "Garbage: " + garbage;
                if(score%20==0 && score!=0){
                    size+=1;
                    if(size==2){
                        player.setTexture('frog1').play('frog', true);
                    }
                    else if(size==3){
                        player.setTexture('snake1').play('snake', true);
                    }
                    else if(size==4){
                        player.setTexture('yellowFish1').play('yellowFish', true);
                    }
                    else if(size==5){
                        player.setTexture('predator1').play('predator', true);
                    }
                }
                if(garbage%20==0 && garbage!=0){
                    this.physics.pause();
                    player.setTint(0xff0000);
                    gameOver = true;
                    //console.log('you died');
                    //statusE.innerText = "Status: DEAD";
                    goText = this.add.text(player.x-90, player.y, 'GAME OVER', { fontSize: '32px', fill: '#160303' });
                }
            }

            //score
            //scoreText = this.add.text(16, 16, 'score: 0', { fontSize: '32px', fill: '#000' });

            
            this.cameras.main.startFollow(player);
            async function reload(){
                await ws.send("update");
                var playerData = [parseInt(this.player.x), parseInt(this.player.y), size, 0, 0, score, garbage];
                //console.log("data:" + String(playerData));
                //console.log(dynamicData[3][0]);
                if(dynamicData[3][0] == [-1,-1,-1,-1,-1,-1,-1]){
                    this.physics.pause();
                    player.setTint(0xff0000);
                    gameOver = true;
                    //console.log('you died');
                    //statusE.innerText = "Status: DEAD";
                    goText = this.add.text(player.x-90, player.y, 'GAME OVER', { fontSize: '32px', fill: '#160303' });
                }
                if(dynamicData[4][0][0] != difficultyYear){
                    difficultyYear = dynamicData[4][0][0];
                    difficulty = dynamicData[4][0][1];
                    yearE.innerText = difficultyYear;
                    difficultyPercent = (difficulty/3971900)*100;
                    diffE.style = "width: " + difficultyPercent +"%; background:red;";
                }
                // if you got a kill and there was l00t, add it to our score
                // and garbage
                if(dynamicData[3][0][5] > 0 || dynamicData[3][0][6] > 0){
                    score += dynamicData[3][0][5];
                    garbage += dynamicData[3][0][6];
                    //update score and garbage
                    scoreE.innerText = 'Score: ' + score;
                    garboE.innerText = "Garbage: " + garbage;
                    hunger = 10000;
                }
                await ws.send("data:[" + String(playerData)+"]");
                //console.log(dynamicData[3]);
                //have old spirtes be destroyed in the next run through
                for(var i = 0; i < dynamicSprites.length; i++){
                    dynamicSprites[i].destroy();
                }
                await ws.send("obstacles");
                load = true;
            }
            setInterval(reload,100);
        }

        function update()
        {
            //if(cursors.keyObj.isDown){
            //    console.log('reset');
            //}
            //controlling the palyer
            if (cursors.left.isDown)
            {
                player.rotation += -.07;
                hunger -= 1*size;
                //player.anims.play('left', true);
            }
            if (cursors.right.isDown)
            {
                player.rotation += .07;
                hunger -= 1*size;
                //player.anims.play('right', true);
            }
            if (cursors.up.isDown)
            {
                player.setVelocityY(-160*Math.cos(player.rotation)*(1+size*.1-garbage/30));
                player.setVelocityX(160*Math.sin(player.rotation)*(1+size*.1-garbage/30));
                hunger -= 2*size;
            }
            if (cursors.down.isDown)
            {
                player.setVelocityY(160*Math.cos(player.rotation)*(1+size*.1-garbage/30)/2);
                player.setVelocityX(-160*Math.sin(player.rotation)*(1+size*.1-garbage/30)/2);
                hunger -= 2*size;
            }
            if(!cursors.down.isDown && !cursors.up.isDown && !cursors.left.isDown && !cursors.right.isDown)
            {

                    player.setVelocityX(0);
                    player.setVelocityY(0);
                    if(size==2){
                        player.play('frog', false);
                    }
                    else if(size==3){
                        player.play('snake', false);
                    }
                    else if(size==4){
                        player.play('yellowFish', false);
                    }
                    else if(size==5){
                        player.play('predator', false);
                    }
                    else{
                        player.play('fish', false)
                    }
            }
            if(load){
                for(var i = 0; i < dynamicData[1].length; i++){
                    if(dynamicData[1][i][2]){
                        dynamicSprites.push(droplets.create(dynamicData[1][i][0],dynamicData[1][i][1],'prawn'));
                    }
                    else{
                        dynamicSprites.push(droplets.create(dynamicData[1][i][0],dynamicData[1][i][1],'detergent'));
                    }
                }
                for(var i = 0; i < dynamicData[0].length; i++){
                    dynamicSprites.push(this.physics.add.sprite(dynamicData[0][i][0],dynamicData[0][i][1],'gFish1'));
                }
                for(var i = 0; i < obstacles[1].length; i++){
                    dynamicSprites.push(trashpiles.create(obstacles[1][i][0],obstacles[1][i][1],'largeGarbage'));
                    zone = this.add.zone(obstacles[1][i][0],obstacles[1][i][1]).setSize(250,250);
                    this.physics.world.enable(zone);
                    this.physics.add.overlap(player, zone, trashSucc, null, this);
                    function trashSucc(player, zone){
                        //kinda works lol, your fish gets dioriented.
                        angle = Phaser.Math.Angle.BetweenPoints(zone, player);
                        player.rotation = angle + 270;
                        player.setVelocityX(160*Math.sin(player.rotation));
                        player.setVelocityY(-160*Math.cos(player.rotation));
                        //console.log('Succing');
                    }
                    dynamicSprites.push(zone);
                }
                load = false;
            }
            //update hunger
            if(hunger > 0){
                hungE.innerText = 'Hunger: ' + hunger/100;
            }
            if(hunger <= 0){
                this.physics.pause();
                player.setTint(0xff0000);
                gameOver = true;
                console.log('you died');
                //statusE.innerText = "Status: DEAD";
                goText = this.add.text(player.x-90, player.y, 'GAME OVER', { fontSize: '32px', fill: '#160303' });
            }
            //slowly remove garbage from your system
            garbageCounter+=1;
            if(garbageCounter>850){
                garbageCounter=0;
                if(garbage > 0){
                    garbage -= 1;
                    garboE.innerText = "Garbage: " + garbage;
                }
            }

            if (resetBool){
                console.log('reset'); size = 1;
                score = 1; garbageCounter = 0; garbage = 0; hunger=10000; gameOver = false; /*this.physics.repeat();*/ player.setTint(0x000000);
                /*player = this.physics.add.sprite(Math.floor(Math.random() * 3000), Math.floor(Math.random() * 3000), 'fish1').play('fish', true);*/
                player.x = Math.floor(Math.random() * 3000);
                player.y = Math.floor(Math.random() * 3000);
                player.setTexture('fish1');
                player.play('fish', true);
                this.physics.resume();
                if(goText != null || goText != undefined){
                    goText.destroy();
                }
                resetBool = false;
            }
        }

        function render(){
        }
        </script>
</body>
</html>
