<!-- tutorial link:https://phaser.io/tutorials/making-your-first-phaser-3-game/part2  -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game</title>
    <script src="https://cdn.jsdelivr.net/npm/phaser@3.54.0/dist/phaser-arcade-physics.min.js"></script>
</head>
<body>
    <script>
        var dynamicData;
        var obstacles;
        var dynamicSprites = [];
        var load = false;
        var ws = new WebSocket("ws://127.0.0.1:5678/");
            ws.onopen = function(e){
                ws.send("data:" + '[100,450,2,0,0,0,0]');
                ws.send("update");
                ws.send("obstacles");
                //ws.send("user");
            };
            ws.onmessage = function (event) {
                if(event.data.substring(0,1) == "o"){
                    obstacles = JSON.parse(event.data.substring(1,event.data.length));
                    //console.log(obstacles[0]);
                }
                else if(event.data.substring(0,1) == "d"){
                    dynamicData = JSON.parse(event.data.substring(1,event.data.length));
                }
                //console.log(event.data);
            };
        var config = {
            type: Phaser.AUTO,
            width: 800,
            height: 800,
            physics: {
                default: 'arcade',
                arcade: {
                    gravity: { y: 0 }
                }
            },
            scene: {
                preload: preload,
                create: create,
                update: update,
                render: render
            }
        };
    
        var game = new Phaser.Game(config);
        function preload ()
        {
            //loading assets
            //Photo by Berend de Kort from Pexels
            //Photo by Berend de Kort from Pexels
            this.load.image('ocean', '/static/assets/img/ocean.jpg');
            this.load.image('ground', '/static/assets/img/ground.png');
            //Photo by mali maeder from Pexels
            this.load.image('apple', '/static/assets/img/apple.jpg');
            //Photo by Gezer Amorim from Pexels
            this.load.image('droplet', '/static/assets/img/droplet.jpeg');

            //load player (red) fish
            this.load.image('fish1', '/static/assets/img/fish/redFish.png');
            this.load.image('fish2', '/static/assets/img/fish/redFish2.png');
            this.load.image('fish3', '/static/assets/img/fish/redFish3.png');
            this.load.image('fish4', '/static/assets/img/fish/redFish4.png');
            this.load.image('fish5', '/static/assets/img/fish/redFish5.png');

            //load other (green) fish
            this.load.image('gFish1', '/static/assets/img/fish/greenFish.png');
            this.load.image('gFish2', '/static/assets/img/fish/greenFish2.png');
            this.load.image('gFish3', '/static/assets/img/fish/greenFish3.png');
            this.load.image('gFish4', '/static/assets/img/fish/greenFish4.png');
            this.load.image('gFish5', '/static/assets/img/fish/greenFish5.png');

            //load frog
            this.load.image('frog1', '/static/assets/img/frog/frog1.png');
            this.load.image('frog2', '/static/assets/img/frog/frog2.png');
            this.load.image('frog3', '/static/assets/img/frog/frog3.png');

            //load snake
            this.load.image('snake1', '/static/assets/img/snake/snake1.png')
            this.load.image('snake2', '/static/assets/img/snake/snake2.png')
            this.load.image('snake3', '/static/assets/img/snake/snake3.png')

            //load garbage
            this.load.image('cup', '/static/assets/img/cup.png');
            this.load.image('detergent', '/static/assets/img/detergent.png');
            this.load.image('milkJug', '/static/assets/img/milk_jug.png');
            this.load.image('bottle', '/static/assets/img/plastic_bottle.png');
            this.load.image('largeGarbage', '/static/assets/img/large_garbage.png');
        }
    
        function create ()
        {
            var score = 0;
            var scoreText;
            //adding an image to the scene
            this.add.image(0,0, 'ocean').setOrigin(0, 0);
            //this.add.tileSprite(0,0,1000,1000, 'ocean');
            //adding platforms
            platforms = this.physics.add.staticGroup();
            //platforms.create(400, 825, 'ground').setScale(4).refreshBody();
            //platforms.create(600, 500, 'ground');
            //platforms.create(50, 250, 'ground');
            for(var i = 0; i < obstacles.length; i++){
                platforms.create(obstacles[i][0],obstacles[i][1],'ground');
            }

            //players
            player = this.physics.add.sprite(100, 450, 'fish1').play('fish', true);
            //console.log(this.player.velocity);
            player.setBounce(0.2);
            //player.setCollideWorldBounds(true);
            this.anims.create({
                key: 'fish',
                frames: [
                    {key: 'fish1'},
                    {key: 'fish2'},
                    {key: 'fish3'},
                    {key: 'fish2'},
                    {key: 'fish1'},
                    {key: 'fish4'},
                    {key: 'fish5'},
                    {key: 'fish4'}
            ],
            frameRate: 16,
            repeat: -1
            });

            this.anims.create({
                key: 'gFish',
                frames: [
                    {key: 'gFish1'},
                    {key: 'gFish2'},
                    {key: 'gFish3'},
                    {key: 'gFish2'},
                    {key: 'gFish1'},
                    {key: 'gFish4'},
                    {key: 'gFish5'},
                    {key: 'gFish4'}
            ],
            frameRate: 16,
            repeat: -1
            });

            this.anims.create({
                key: 'frog',
                frames: [
                    {key: 'frog1'},
                    {key: 'frog2'},
                    {key: 'frog3'},
                    {key: 'frog1'}
            ],
            frameRate: 8,
            repeat: -1
            });

            this.anims.create({
                key: 'snake',
                frames: [
                    {key: 'snake1'},
                    {key: 'snake2'},
                    {key: 'snake3'},
                    {key: 'snake1'}
            ],
            frameRate: 8,
            repeat: -1
            });

            //adding collison to the player
            this.physics.add.collider(player, platforms);

            //adding cursor keys input
            cursors = this.input.keyboard.createCursorKeys();

            //collectable water droplets
            //droplets = this.physics.add.group({
            //    key: 'droplet',
                //repeat: 0,
                //setXY: { x: 12, y: 0, stepX: 70 }
            //});
            droplets = this.physics.add.staticGroup();
            for(var i = 0; i < dynamicData[1].length; i++){
                //if(dynamicData[2][i]){
                    //droplets.create(dynamicData[i][0],dynamicData[i][1],'droplet');
                    //dynamicSprites.push(this.physics.add.sprite(dynamicData[1][i][0],dynamicData[1][i][1],'droplet'));
                    //this.physics.add.sprite(dynamicData[1][i][0],dynamicData[1][i][1],'droplet')
                    //console.log("test");
                    dynamicSprites.push(droplets.create(dynamicData[1][i][0],dynamicData[1][i][1],'droplet'));
                //}
            }
            for(var i = 0; i < dynamicData[0].length; i++){
                dynamicSprites.push(this.physics.add.sprite(dynamicData[0][i][0],dynamicData[0][i][1],'apple').setScale(.02));//.setVelocity(dynamicData[0][i][3],dynamicData[0][i][4]));
            }
            //platforms.create(obstacles[i][0],obstacles[i][1],'ground');
            droplets.children.iterate(function (child) {

                child.setBounceY(Phaser.Math.FloatBetween(0.4, 0.8));

            });

            //making stars collide
            this.physics.add.collider(droplets, platforms);

            // checking player collision
            this.physics.add.overlap(player, droplets, collectDroplet, null, this);
            function collectDroplet (player, droplet)
            {
                //droplet.disableBody(true, true);
                //score += 10;
                scoreText.setText('Score: ' + score);
                //creates a bomb once all stars are collected
                // if (droplets.countActive(true) === 0)
                // {
                //     droplets.children.iterate(function (child) {

                //         child.enableBody(true, child.x, 0, true, true);

                //     });

                //     var x = (player.x < 400) ? Phaser.Math.Between(400, 800) : Phaser.Math.Between(0, 400);

                //     var bomb = bombs.create(x, 16, 'bomb');
                //     bomb.setBounce(1);
                //     bomb.setCollideWorldBounds(true);
                //     bomb.setVelocity(Phaser.Math.Between(-200, 200), 20);

                // }

            }

            //score
            scoreText = this.add.text(16, 16, 'score: 0', { fontSize: '32px', fill: '#000' });
        
            //bad guy (bombs)
            //bombs = this.physics.add.group();

            //this.physics.add.collider(bombs, platforms);

            // this.physics.add.collider(player, bombs, hitBomb, null, this);
            // function hitBomb (player, bomb)
            // {
            //     this.physics.pause();

            //     player.setTint(0xff0000);

            //     player.anims.play('turn');

            //     gameOver = true;
            // }
           //game.camera.follow(apple);
            this.cameras.main.startFollow(player);
            async function reload(){
                await ws.send("update");
                score = dynamicData[3][0][5];
                var playerData = [parseInt(this.player.x), parseInt(this.player.y), 2, 0, 0, score, 0];
                console.log("data:" + String(playerData));
                await ws.send("data:[" + String(playerData)+"]");
                console.log(dynamicData[3]);
                for(var i = 0; i < dynamicSprites.length; i++){
                    dynamicSprites[i].destroy();
                }
                load = true;
            }
            setInterval(reload,100);
        }

        function update()
        {
            //controlling the palyer
            if (cursors.left.isDown)
            {
                player.rotation += -.07;

                //player.anims.play('left', true);
            }
            if (cursors.right.isDown)
            {
                player.rotation += .07;

                //player.anims.play('right', true);
            }
            if (cursors.up.isDown)
            {
                player.setVelocityY(-160*Math.cos(player.rotation));
                player.setVelocityX(160*Math.sin(player.rotation));
            }
            if (cursors.down.isDown)
            {
                player.setVelocityY(160*Math.cos(player.rotation));
                player.setVelocityX(-160*Math.sin(player.rotation));
            }
            if(!cursors.down.isDown && !cursors.up.isDown && !cursors.left.isDown && !cursors.right.isDown)
            {
                player.setVelocityX(0);
                player.setVelocityY(0);
                player.play('fish', false);

                //player.anims.play('turn');
            }

            //example of jumping
            //if (cursors.up.isDown && player.body.touching.down)
            //{
            //    player.setVelocityY(-330);
            //}
            if(load){
                //console.log(dynamicData[3][5]);
                for(var i = 0; i < dynamicData[1].length; i++){
                    //dynamicSprites.push(this.physics.add.sprite(dynamicData[1][i][0],dynamicData[1][i][1],'droplet'));
                    dynamicSprites.push(droplets.create(dynamicData[1][i][0],dynamicData[1][i][1],'droplet'));
                }
                for(var i = 0; i < dynamicData[0].length; i++){
                    dynamicSprites.push(this.physics.add.sprite(dynamicData[0][i][0],dynamicData[0][i][1],'apple').setScale(.02).setVelocity(dynamicData[0][i][3]));
                }
                load = false;
            }
        }

        function render(){

        }

        </script>
</body>
</html>
